<script>
	import { getMonths, isDateInArray } from './helpers';
	import Month from './Month.svelte';

  let start = new Date(2021, 0, 1);
	let end = new Date(2021, 11, 31);
	let now = new Date();
	let isNoon = now.getHours() >= 12;
	let months = getMonths(start, end);
	let pepsiDates = [
		'11-5-2021',
		'12-5-2021',
		'4-6-2021',
		'11-6-2021',
		'15-6-2021',
		'23-7-2021'
	];
	let src = '/favicon.png'

	function monthName(monthId) {
		switch (monthId) {
			case 0: return 'Jan';
			case 1: return 'Feb';
			case 2: return 'Mar';
			case 3: return 'Apr';
			case 4: return 'May';
			case 5: return 'Jun';
			case 6: return 'Jul';
			case 7: return 'Aug';
			case 8: return 'Sep';
			case 9: return 'Oct';
			case 10: return 'Nov';
			case 11: return 'Dec';
		}
	}
	
  // theming variables:
  export let currentColor = '#4a4a4a';
  export let highlightBackgroundColor = '#ff3e00';
  export let dayBackgroundColor = 'none';
  export let dayTextColor = '#4a4a4a';
  export let dayHighlightedBackgroundColor = '#efefef';
  export let dayHighlightedTextColor = '#4a4a4a';
</script>

<main style={`
	--current-color: ${currentColor};
	--highlight-background-color: ${highlightBackgroundColor};
	--day-background-color: ${dayBackgroundColor};
	--day-text-color: ${dayTextColor};
	--day-highlighted-background-color: ${dayHighlightedBackgroundColor};
	--day-highlighted-text-color: ${dayHighlightedTextColor};
`}>
	<img {src} alt="Pepsi logo">
	<h1>Est-ce que François a bu un Pepsi ce matin?</h1>
	{#if isNoon && !isDateInArray(now, pepsiDates)}
		<h2>Non! 🎉</h2>
	{:else}
		{#if !isDateInArray(now, pepsiDates)}
		<h2>Pas encore, retourne voir après dîner!</h2>
		{:else}
		<h2>Oui... 😔</h2>
		{/if}
	{/if}
	<div class="months">
		{#each months as visibleMonth (visibleMonth.month) }
			<div>
				<small>{monthName(visibleMonth.month)}</small>
				<Month 
					{visibleMonth}
					highlighted={pepsiDates}
				/>
			</div>
		{/each}
	</div>
</main>

<style>
	main {
		text-align: center;
		padding: 0;
	}

	img {
		margin-top: 1rem;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 2.5em;
		font-weight: 100;
		margin: 0;
	}

	h2 {
		margin-bottom: 2rem;
	}

	.months {
		margin: 0 auto;
		width: 90rem;
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(6, 1fr);
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
