<script>
  import Week from './Week.svelte';

  export let visibleMonth;
  export let highlighted;
</script>

<div class="month-container">
  {#each visibleMonth.weeks as week (week.id) }
    <Week 
      days={week.days}
      {highlighted}
    />
  {/each}
</div>

<style>
  .month-container { 
    width: 100%;
    display: grid;
  }
</style>
