<script>
  import { isDateInArray } from './helpers';

  export let days;
  export let highlighted;
</script>

<div class="week">
  {#each days as day}
    <div 
      class="day" 
      class:outside-month={!day.partOfMonth}
      class:is-today={day.isToday}
    >
      <button 
        class="day--label" 
        class:highlighted={isDateInArray(day.date, highlighted)}
        type="button"
      >
        {day.date.getDate()}
      </button>
    </div>
  {/each}
</div>

<style>
  .week { 
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    grid-column: 1; 
  }
  .week:nth-child(6n + 1) {
    grid-row: 1; 
  }
  .week:nth-child(6n + 2) {
    grid-row: 2; 
  }
  .week:nth-child(6n + 3) {
    grid-row: 3; 
  }
  .week:nth-child(6n + 4) {
    grid-row: 4; 
  }
  .week:nth-child(6n + 5) {
    grid-row: 5; 
  }
  .week:nth-child(6n + 6) {
    grid-row: 6; 
  }
  .day { 
    margin: 2px;
    color: var(--day-text-color);
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    flex: 1 0 auto;
    height: auto;
    display: flex; 
    flex-basis: 0;
  }
  .day.outside-month { 
    opacity: 0;
  }
  .day:before { 
    content: '';
    float: left;
    padding-top: 100%;
  }
  .day--label { 
    color: var(--day-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%; 
    margin: 10%;
    padding: 0;
    align-items: center;
    background: var(--day-background-color);
    cursor: pointer;
    transition: all 100ms linear;
    font-weight: normal;
  }
  .day.outside-month .day--label { 
    cursor: default;
  }
  @media (min-width: 480px) { 
    .day--label:not(.disabled):hover { 
      background: var(--day-highlighted-background-color);
      border-color: var(--day-highlighted-background-color);
      color: var(--day-highlighted-text-color);
    }
  }
  .day.is-today .day--label, 
  .day.is-today .day--label:hover { 
    opacity: 1; 
    background: none;
    border-color: var(--current-color);
    color: #000;
  }
  .day .day--label.highlighted { 
    background: var(--highlight-background-color);
    color: #fff;
  }
</style>
